$abalone: #f8f3f6;
$peaceful-rain: #f1fbf1;
$liquorice: #0a0502;
$white-solid: #f4f5fa;
$gluon-grey: #1a1b1c;
$dress-pink: #f4ebef;
$positive-red: #ad2c34;
$placebo-orange: #fcf5eb;
$morning-snow: #f5f4ed;
$alizarin: #e34636;
$slice-of-watermelon: #e1697c;
$venus-pink: #f0e5e5;
$shoe-wax: #2b2b2b;
$quail-valley: #ab9673;
$powder-room: #a14d52;
$anthracite-red: #73293b;
$bright-yarrow: #face6d;
$bombay-brown: #9f5130;
$pavilion-beige: #c5b6a4;
$palais-white: #f4f0e5;
$pearl-city: #dce4e9;
$teri-gaki-persimmon: #eb6238;
$pottery-red: #b05d59;
$tristesse: #0c0c1f;
$ornery-tangerine: #f77d25;
$maui-mist: #eef2f3;
$mango-tango: #ff8243;
$ardent-coral: #e5756a;
$gold-sand: #f7e5a9;
$salt-box: #f5e9d9;
$polar-mist: #adafbd;
$english-breakfast: #441111;
$bulgarian-rose: #480607;
$sparkling-frost: #d2d5da;
$jellybean-pink: #9b6575;
$magical-mauve: #baa3a9;
$back-in-black: #16141c;
$salmon-carpaccio: #ee867d;
$go-go-mango: #feb87e;
$himalaya-peaks: #e2eaf0;
$lovebirds: #c76a77;
$faded-firebrick: #e5d9dc;
$coral: #ff7f50;
$salmon-orange: #ff8c69;
$tingle: #e6541b;
$musk-memory: #774548;
$sakura-mochi: #cea19f;
$lively-coral: #e67c7a;
$saltbox-blue: #65758a;
$salmon-pink-red: #e1958f;
$raging-bull: #b54e45;
$soft-salmon: #eaaaa2;
$fantasy-grey: #8591a2;
$justice: #606b8e;
$iced-orchid: #8e7d89;
$bureaucracy: #746c8f;
$lighthouse: #f3f4f4;
$tristesse: #0c0c1f;
$lei-flower: #d87b6a;
$purple-prose: #554348;
$gazpacho: #c23b22;
$alluring-gesture: #f8dbc2;
$autumn-arrival: #f9986f;
$atom-blue: #8f9cac;
$peace: #a2b2bd;
$kurobeni: #23191e;
$hit-pink: #fda470;
$snub: #a5adbd;
$dusky-haze: #a77572;
$mangu-black: #292938;
$corbeau: #111122;
$pier-17-steel: #647d8e;
$art-nouveau-violet: #a08994;
$strawberry-wine: #cb6a6b;
$purplish-grey: #7a687f;
$sweet-violet: #8c667a;
$sunset-papaya: #fc7d64;
$black-knight: #010b13;
$deep-bloom: #c57776;
$enamored: #c67d84;
$saucisson: #882c17;
$soulful-blue: #757c91;
$berry-crush: #aa6772;
$congo: #e8c3be;
$retro-pink: #b48286;
$coral-commander: #ee6666;
$rookwood-dark-red: #4b2929;
$pallid-orange: #fcb99d;
$blue-rinse: #b7bdc6;
$blackwater: #545663;
$shān-hú-hóng-coral: #fa9a85;
